.message {
    padding: 30px;
    display: flex;
    gap: 20px;
    width: 405px;
    height: fit-content;
    opacity: 0.7;
    /*background: lightskyblue;*/
    flex: 1 0;
}

.message img {
    height: 80px;
    border-radius: 50%;
    align-self: flex-end;
}

.pop {
    width: 280px;
    position: relative;
    background: black;
    border-radius: 8px 8px 8px 0;
    padding: 5px 15px;

}

.pop::before {
    position: absolute;
    bottom: 0;
    left: -23px;
    content: '';
    width: 24px;
    height: 24px;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 24px, rgba(0,0,0,1) 0);
}

.name {
    color: mediumpurple;
    margin: 5px 0;
    font-weight: bold;
}

.text {
    color: white;
    margin: 8px 0;
    word-wrap: break-word;
    width: 230px;
}

.time {
    position: absolute;
    bottom: 12px;
    right: 15px;
    color: lightgray;
    margin: 0;
    font-size: 1.125em;
}