
.error {
    border: 1px solid red;
    border-radius: 5px;
    margin: 0 5px;
}

.input {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 5px;
}

.button {
    padding: 5px 10px;
    background-color: aquamarine;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.button:hover {
    background-color: aqua;
}

.errorText {
    position: absolute;
    margin: 0 15px 0;
    color: red;
    left: 8px;
    bottom: 1px;
}

.total {
    margin: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.hw3 {
    position: relative;
    height: 50px;
}